*{
    margin: 0;
    padding: 0;
}

.full{
    height: 100vh;
    width: 100%;
    margin:0;
}

#left{
    background-color: red;
    padding: 30px;
}

#right{
    background-color: blue;
    padding: 30px;
}